
.navbar-custom {
  height: 10%;
  font-size: 1.5em;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
}

main {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

h1.name {
  background-color: transparent;
  font-size: 8em;
  color: rgb(245, 245, 245);
  margin-top: -40%;
  mix-blend-mode: exclusion;
}

h1.title {
  background-color: transparent;
  text-align: center;
  font-size: 6em;
  color: rgb(245, 245, 245);
  mix-blend-mode: exclusion;
}

h2 {
  background-color: transparent;
  text-align: center;
  font-size: 2em;
  color: rgb(245, 245, 245);
  mix-blend-mode: exclusion;
}

h3 {
  background-color: transparent;
  text-align: center;
  font-size: 3em;
  margin: 100px 75px 20px 75px;
  color: rgb(245, 245, 245);
  mix-blend-mode: exclusion;
}

h4 {
  background-color: transparent;
  text-align: center;
  font-size: 3em;
  color: rgb(245, 245, 245);
  mix-blend-mode: exclusion;
}

body {
  background-color: transparent;
}

div {
  background-color: transparent;
}
